<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show info product</title>
</head>
<body>
<p th:text="${product.getName()}"></p>
<p th:text="${product.getPrice()}"></p>
<p th:text="${product.getCalories()}"></p>
<p th:text="${product.getCompound()}"></p>

<a th:href="@{/product/{id}/edit(id=${product.getId()})}">Edit product</a>
<form th:method="DELETE" th:action="@{/product/{id}(id=${product.getId()})}">
    <input type="submit" value="Delete this product">
</form>
</body>
</html>